/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*Reusables*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.middle {
  vertical-align: middle;
}


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*Home Page*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.blurCustom {   /*Background Image*/
  opacity: 0.65;
}

overlay-container {
  position: relative; /* Set as the reference for the positioned overlay */
}

.overlay-container .overlay {
  position: absolute; /* Remove the overlay from normal flow */
  top: 150px;         /* Keep the overlay at the bottom of the box*/
  left: 50px;         /* Set left and right properties to 0*/
  right: 0;           /* In order to expand the overlay horizontally */
  padding: 0.4rem;
}

.yellowF {
  color: #FDFE02;
  font-size: 3rem;
}

.greenF{
  color: #10471A !important;
  font-size: 1.3em;
}

.citedTxt {
  color: #E8E8E8;
  font-size: 1.5rem;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*Home Footer*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.block {
  text-align: center;
  white-space: nowrap;
  height: 100%;
}

/* The ghost is nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*Modals!!!*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.modi {
  border-radius: 7px;
}

.tall {
  height: 100%;
}

.usrAccess {
  border: solid 1px black;
  border-radius: 7px;
  background-color: #6E6A68;
  height: 100px;
  position: relative;
  margin-bottom: 30px;
}

.xcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.modButton {
  border: solid 1px black;
  border-radius: 7px;
  background-color: #6E6A68;
  position: relative;
  color: #5B9EC1;
  font-size: 2rem;
}
