<!--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<!-- Products Page -->
<!--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<!-- ngCart -->
<div ng-controller="productCtrl as pCtrl">
  <div>
    <ul class="large-block-grid-3">
      <li ng-repeat="p in pCtrl.productList">
        <!-- Product card -->
        <div class="row" style="height:20%;">
          <div class="small-12 columns">
            <div class="card">
              <div class="image">
                <img ng-src="{{p.image}}">
                <span class="title">{{p.name}}</span>
              </div>
              <div class="content">
                <p>{{p.description}}</p>
              </div>
              <!-- <div class="action">
                <a href='#'>Add to Cart</a>
              </div> -->

              <!-- <ngcart-addtocart id="{{ p._id.$oid }}" name="{{ p.name }}" price="{{ p.price }}" quantity="{{p.quantity}}" quantity-max="30" data="item"></ngcart-addtocart> -->
              <ngcart-addtocart id="{{p._id}}" name="{{p.name}}" price="{{p.price}}" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>

            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<!-- Footer -->
<!--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<div class="callout large secondary">
  <div class="row">
    <div class="small-4 large-3 columns">

      <!--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
      <!-- Footer Message -->
      <h3>Why
        <span class="greenF">
          <strong>Soils</strong>
        </span>.com?</h3>
      <h5>Here at
        <span class="greenF">Soils</span>.com, we don't just promote the orgamic soil soultion we bring entire soil ecosystems to
        <span class="greenF">LIFE</span>.
        <a ng-click='lCtrl.welcomeSesame()'>Join</a>
        the organic revolution today!</h5>
    </div>

    <div class="small-6 large-3 large-offset-1 columns">
      <h4>Site</h4>
      <ul class="menu vertical">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
        <li>
          <a href="#">Sign Up</a>
        </li>
        <li>
          <a href="#">Login</a>
        </li>
      </ul>
    </div>

    <div class="small-6 large-3 columns ">
      <h4>Products</h4>
      <ul class="menu vertical">
        <li>
          <a href="#">Drainage Enhancers</a>
        </li>
        <li>
          <a href="#">Soil Nutrients</a>
        </li>
        <li>
          <a href="#">Growth Enhancer</a>
        </li>
        <li>
          <a href="#">Minerals</a>
        </li>
      </ul>
    </div>

    <div class="large-3 columns">
      <div class="col-xs-offset-8 col-xs-4">
        <h3>Cart Summary</h3>

      <ngcart-summary></ngcart-summary>
    </div>
    </div>

    <!-- end of footer -->
